<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum nulla expedita sapiente impedit rem delectus sit earum eos nam culpa nemo, vero pariatur sequi temporibus tenetur aut. Odio est perspiciatis dignissimos facilis tempore eveniet quibusdam nesciunt quis! Debitis nulla cum, tenetur quidem iusto, exercitationem, eveniet laborum cupiditate alias repellat iste sed dolore natus. Magnam alias dicta delectus sint dignissimos, quidem nesciunt sed est ipsum dolore. Reprehenderit odio, autem laudantium culpa, sit quos nihil inventore ducimus voluptatum, in accusantium! Non facilis, reiciendis doloremque, aut aliquid ea eaque perferendis magnam quia qui debitis animi ratione. Explicabo officiis nostrum molestias consequatur facilis?</p>
        </div>
        <div class="col-6">
            <img src="./img/dororo.png" alt="">
        </div>
    </div>
</div>